html,
body {
    background-color: beige;

    height: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    font-size: 250%;
}

h2 {
    text-align: center;
}

.buttons {
    text-align: center;
    padding: 0.5rem;
    line-height: 2rem;
}

#board {
    --GRID_WIDTH: 1;
    display: grid;
    grid-template-columns: repeat(var(--GRID_WIDTH), max-content);
    gap: 1px;
    /* height: 100vh;
    width: 100vh; */
    justify-content: center;
}

.cell {
    background-color: white;
    height: 14px;
    width: 14px;
    outline: 1px solid darkgrey;
}

.cell-active {
    background-color: black;
    /* animation: fade-in 0.2s ease-in-out; */
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
